/*
The MIT License

Copyright 2019 César de la Cal Bretschneider <cesar@magic3w.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/*
    Created on : Dec 9, 2019, 4:28:07 PM
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/

@use "text/height" as lineheight;
@use "text/size"   as fontsize;

* {
	@include lineheight.styles();
	@include fontsize.styles();
}

@each $caption, $color in $colors {
	.text\:#{$caption} {
		color: $color
	}
}

/*
 * While this may be a potentially controversial setting when we design interfaces that
 * are focused on long text output, specially for carefully crafted and designed experiences,
 * we'd rather use explicit spacer elements that we can control rather than default behavior
 * for text output.
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0; 
	padding: 0;
}

h1 {
	@extend .fs\:6;
}

h2 {
	@extend .fs\:5;
}

h3 {
	@extend .fs\:4;
}

h4 {
	@extend .fs\:4;
	color: $grey800;
}

h5 {
	@extend .fs\:3;
	color: $grey800;
}

h6 {
	@extend .fs\:3;
	color: $grey700;
}

p {
	@extend .fs\:2;
	@extend .lh\:3;
}

.text-bold {
	font-weight: bold;
}

small {
	@extend .fs\:1;
}

.no-decoration {
	text-decoration: none;
}
