
@use "borders"  as borders;

@include borders.configure(
	$colors: (
		"light"   : map-get($colors, "grey-200"),
		"dark"    : map-get($colors, "grey-400"),
		"info"    : map-get($colors, "blue-300"),
		"warn"    : map-get($colors, "orange-300"),
		"error"   : map-get($colors, "red-300"),
		"success" : map-get($colors, "green-700"),
	)
);

$box-padding-y : .8rem;

.box {
	@include borders.styles();
	
	background-color: $white;
    overflow: hidden;
    transition: box-shadow .3s ease;;

    &.padded {
        padding: $box-padding-y .8rem;
    }

    .padded {
        padding: $box-padding-y .8rem;
    }

    &.box-soft {
        border-radius: .3rem;
    }

    &.box-very-soft {
        border-radius: .6rem;
    }

    &.box-drop-shadow,
    &.box-drop-shadow-on-hover:hover {
        box-shadow: 0 0 .3rem $grey200,  0 0 .6rem $grey100;
    }
}
