
@mixin configure () 
{
	
}

@mixin styles ()
{
	/*
	* Determine the fit of an image in your document. Modifying the fit allows
	* an application to determine how an image is placed inside an img tag.
	* 
	* For example, the cover object will scale the image to fill the <img> tag
	* but won't be stretching the image at all.
	**/
	img.fit-contain {
		object-fit: contain;
	}

	img.fit-cover {
		object-fit: cover;
	}

	img.fit-scale {
		object-fit: scale-down;
	}

	img.fit-fill {
		object-fit: fill;
	}

	img.fit-no-scale,
	img.fit-none {
		object-fit: none;
	}

	/**
	 * The internal alignment of an image allows a developer to manipulate an
	 * image so the replaced image is shifted.
	 *
	 * This will only work properly with fits that are not contain or scale, since these
	 * attempt to place the entire image in the content box.
	**/
	img.align-inside-top {
		object-position: top center;
	}

	img.align-inside-bottom {
		object-position: bottom center;
	}
}
