/*
The MIT License

Copyright 2019 César de la Cal Bretschneider <cesar@magic3w.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/*
    Created on : Jun 17, 2019, 11:59:07 AM
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/

/*
 * A form control is anything the user can interact with when filling out a form,
 * this includes inputs, textareas and selects.
 */
.frm-ctrl {
	display: block;
	width: 100%;
	
	&.ctrl-borderless {
		border: solid 1px $controlBorderlessBg;
		background-color: $controlBorderlessBg;

		&:active,
		&:focus {
			border: solid 1px $controlBorderlessBg;
			box-shadow: none;
		}
	}

	&.ctrl-android {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: solid .2rem #BBB;
		border-radius: 0;
		background-color: $controlBorderlessBg;

		&:active,
		&:focus {
			box-shadow: none;
			border-bottom: solid .2rem #1470b3;
		}
	}
}

.frm-lbl {
	padding: .75rem .4rem;
	color: #444;
	font-size: .9rem;
}

input:not([type]).frm-ctrl,
input[type="text"].frm-ctrl,
input[type="url"].frm-ctrl,
input[type="tel"].frm-ctrl,
input[type="search"].frm-ctrl,
input[type="number"].frm-ctrl,
input[type="password"].frm-ctrl,
input[type="email"].frm-ctrl,
textarea.frm-ctrl {

	border: solid 1px #CCC;
	height: $controlHeight;
	padding: 
		map-get($controlPadding, "y")
		map-get($controlPadding, "x");

	
	&.ctrl-borderless {
		border: solid 1px $controlBorderlessBg;
		background-color: $controlBorderlessBg;

		&:active,
		&:focus {
			border: solid 1px $controlBorderlessBg;
			box-shadow: none;
		}
	}

	&.ctrl-android {
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: solid .2rem #BBB;
		border-radius: 0;
		background-color: $controlBorderlessBg;

		&:active,
		&:focus {
			box-shadow: none;
			border-bottom: solid .2rem #1470b3;
		}
	}

}

/*
 * Checkbox specific styling
 */
input[type="checkbox"].frm-ctrl {
	display: none;
}

span.frm-ctrl-chk {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: .25rem;
	border: solid 1px #CCC;
	background-color: #DDD;
	position: relative;
	margin-right: .2rem;
	vertical-align: -.2rem;
	transition:  background-color .3s ease;
	
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 1.2rem;
		width: 1.2rem;
		background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M6.41%200l-.69.72-2.78%202.78-.81-.78-.72-.72-1.41%201.41.72.72%201.5%201.5.69.72.72-.72%203.5-3.5.72-.72-1.44-1.41z%22%2F%3E%3C%2Fsvg%3E%0A');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 0 0;
		border-radius: 50%;
		transition: background-size .15s ease;
	}
}

span.frm-ctrl-chk.toggle {
	display: inline-block;
	width: 2rem;
	height: 1.3rem;
	border-radius: .65rem;
	background-color: #CCC;
	position: relative;
	margin-right: .2rem;
	vertical-align: -.4rem;
	transition:  background-color .3s ease;
	border: none;
	
	&:before {
		content: '';
		position: absolute;
		top: .15rem;
		left: .15rem;
		height: 1rem;
		width: 1rem;
		background-color: #FFF;
		border-radius: 50%;
		transition: left .3s ease;
	}
}


input[type="checkbox"].frm-ctrl:checked + span.frm-ctrl-chk{ 
	background-color: #56a1d6;
	border: solid 1px #56a1d6;
	
	&:before {
		background-size: .7rem .7rem;
	}
	
	&.toggle {
		border: none;
		
		&:before {
			left: .9rem;
		}
	}
}



/*
 * Radio specific styling
 */
input[type="radio"].frm-ctrl {
	display: none;
}

span.frm-ctrl-rad {
	display: inline-block;
	border: solid .05rem $grey600;
	width: 1.3rem;
	height: 1.3rem;
	border-radius: .65rem;
	background-color: $white;
	position: relative;
	margin-right: .2rem;
	vertical-align: -.4rem;
	transition:  background-color .3s ease;
	
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 1.3rem;
		width: 1.3rem;
		background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%228%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M6.41%200l-.69.72-2.78%202.78-.81-.78-.72-.72-1.41%201.41.72.72%201.5%201.5.69.72.72-.72%203.5-3.5.72-.72-1.44-1.41z%22%2F%3E%3C%2Fsvg%3E%0A');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 0 0;
		border-radius: 50%;
		transition: background-size .15s ease, border-color .30s ease;
	}
}


input[type="radio"].frm-ctrl:checked + span.frm-ctrl-rad{ 
	border: solid .05rem $purple300;
	background-color: $purple300;
	
	&:before {
		background-size: .8rem .8rem;
	}
}

/*
 * The outer wrappers for form controls allow the system to style form controls
 * in a very interactive way that makes the label behave like a placeholder and 
 * but does not lose the context of the input.
 */ 
.frm-ctrl-outer {
	position: relative;
	display: inline-block;
	width: 100%;
	height: $controlHeight;
}

/*
 * When the outer control wraps around an input, select, textarea, or label, the 
 * application should reset their styles to a state that we can manage.
 */
.frm-ctrl-outer label,
.frm-ctrl-outer input[type="text"].frm-ctrl,
.frm-ctrl-outer input[type="password"].frm-ctrl,
.frm-ctrl-outer textarea.frm-ctrl,
.frm-ctrl-outer select.frm-ctrl {
	display: inline-block;


	height: ($controlHeight + map-get($controlPadding, "x") * .5);
	font-size: $controlFontSize;
	line-height: $controlFontSize * 1.4;

	/*
	 * The padding of these inputs needs to be carefully managed, unlike the regular HTML elements
	 * where the text should be centered, these offset the text slightly in order to make it fit 
	 * together with the label in the input.
	 */
	padding: 
		map-get($controlPadding, "y")*1.5 
		map-get($controlPadding, "x") 
		map-get($controlPadding, "y");

	// Some browsers would like to render an outline around our form, this is not what we want
	// either
	outline: none;

	// The appearance needs to be appropriately set for the browsers to not render UI components
	// within our inputs.
	-moz-appearance: none;
	appearance: none;
}

.frm-ctrl-outer input[type="text"].frm-ctrl,
.frm-ctrl-outer input[type="password"].frm-ctrl,
.frm-ctrl-outer select,
.frm-ctrl-outer textarea {
	min-width: 10rem;
	border-radius: .3rem;
	transition: .2s ease all;

	&.ctrl-android {
		border-radius: 0;
	}
}


.frm-ctrl-outer label {
	transform-origin: top left;
	position: absolute;
	top: 0;
	left: 0;
	transition: .2s ease all;
	color: #444;
	background-color: transparent;
	cursor: text;
	user-select: none;
	padding: map-get($controlPadding, "y") 0rem 0rem 0rem;
	left: map-get($controlPadding, "x");
}


.frm-ctrl-outer input[type="text"].frm-ctrl:placeholder-shown +  label,
.frm-ctrl-outer input[type="password"].frm-ctrl:placeholder-shown +  label {
	transform: scale(1);
	top: .3rem;
}

.frm-ctrl-outer input[type="text"].frm-ctrl +  label,
.frm-ctrl-outer input[type="password"].frm-ctrl +  label,
.frm-ctrl-outer select +  label,
.frm-ctrl-outer input[type="text"].frm-ctrl:focus +  label,
.frm-ctrl-outer input[type="password"].frm-ctrl:focus +  label {
	transform: scale(.6);
	color: #444;
	height: 2rem;
	top: 0;
}


.frm-ctrl-outer input[type="text"].frm-ctrl:focus +  label,
.frm-ctrl-outer input[type="password"].frm-ctrl:focus +  label {
	color: #1c89d6;
}

.frm-ctrl-outer input[type="text"].frm-ctrl.ctrl-borderless:focus +  label,
.frm-ctrl-outer input[type="password"].frm-ctrl.ctrl-borderless:focus +  label {
	color: #222;
}

.frm-ctrl-outer input[type="text"].frm-ctrl.ctrl-android:focus +  label,
.frm-ctrl-outer input[type="password"].frm-ctrl.ctrl-android:focus +  label {
	color: #222;
}