/*
The MIT License

Copyright 2019 César de la Cal Bretschneider <cesar@magic3w.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/*
    Created on : Aug 22, 2019, 4:33:17 PM
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/


.frm-ctrl-grp {
	transition: .2s ease all;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	/*
	 * Form controls directly embedded into the group will be sized using
	 * flex so they occupy the entire width of the group.
	 */
	&>.frm-ctrl-outer,
	&>.frm-ctrl  {
		flex-grow: 1;
	}

	/*
	 * Form controls inside outer groups, should take the entire width.
	 * Usually, the outer wrappers will adjust, but in this case we wish the 
	 * children to adjust to the parent.
	 */
	.frm-ctrl-outer .frm-ctrl {
		overflow: hidden;
		width: 100%;


		&:focus {
			outline: none;
			color: #1470b3;
			box-shadow: none;
		}
	}

	.frm-ctrl-ro {
		width: 100%;
		display: inline-block;
		background: #FFF;
		border: 1px solid #CCC;
		height: $controlHeight;
		font-size: 1rem;
		line-height: $controlFontSize * 1.4 + map-get($controlPadding, "y")*.5;
		overflow: hidden;

		padding: 
			map-get($controlPadding, "x") 
			map-get($controlPadding, "y") 
			map-get($controlPadding, "x");

		&.ctrl-borderless {
			border: none;
			background: $controlBorderlessBg;
		}

		&.ctrl-android {
			border-radius: 0;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: solid .2rem #BBB;
			background: $controlBorderlessBg;
		}
	}
	
	&>.frm-ctrl-outer {

		.frm-ctrl-ro, 
		.frm-ctrl,
		input[type="text"].frm-ctrl,
		input[type="password"].frm-ctrl ,
		textarea.frm-ctrl {
			border-radius: 0;
			border-left-style: none;
			border-right-style: none;
			
		}

		&:first-child {
			.frm-ctrl-ro,
			.frm-ctrl,
			input[type="text"].frm-ctrl,
			input[type="password"].frm-ctrl,
			textarea.frm-ctrl {
				border-radius: .3rem 0 0 .3rem;
				border-left-style: solid;

				&.ctrl-borderless {
					border-style: none;
				}

				&.ctrl-android {
					border-left-style: none;
					border-right-style: none;
					border-radius: 0;
				}
			}
		}
		
		&:last-child {
			.frm-ctrl-ro,
			.frm-ctrl,
			input[type="text"].frm-ctrl,
			input[type="password"].frm-ctrl,
			textarea.frm-ctrl {
				border-radius: 0 .3rem .3rem 0;
				border-right-style: solid;

				&.ctrl-borderless {
					border-style: none;
				}

				&.ctrl-android {
					border-left-style: none;
					border-right-style: none;
					border-radius: 0;
				}
			}
		}
		
		&.fixed-width {
			flex-grow: 0;
			flex-shrink: 0;
		}
		
		&.narrow {
			width: 7rem;
		}
		
		&.medium {
			width: 12rem;
		}
		
	}
}
