

.badge {
	font-size: .7em;
	padding: .1em .45em;
	border-radius: .45em;
	vertical-align: .125em;
	font-weight: bold;
	color: #FFF;
	background: $purple700;
	box-shadow: -1px -2px 3px rgba(255, 255, 255, 0.2) inset;

	&.bg-red {
		background-color: $red700;
	}

	&.bg-green {
		background-color: $green700;
	}

	&.bg-blue {
		background-color: $blue800;
	}

	&.bg-orange {
		background-color: $orange700;
	}

	&.bg-grey {
		background-color: $grey700;
	}

	@each $name, $color in $colors {
		&.bg-#{$name} {
			background-color: $color;
		}

		&.border-#{$name} {
			border-color: $color;
		}
	}
}