/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20.04.2018, 16:35:00
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/


@import "../mixins/_grid.scss";
@import "./_container.scss";


$spacer_width: 20px / 960px * 100%;
$max_column_count: 10;

.span {
	min-height: 1px;
	font-size: 1rem;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0px $spacer-width / 2;
	width: 100%;
	
	img {
		max-width: 100%;
	}
}

div.row {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	
	margin: 0 auto;
	width: 100%;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	&.fluid {
		width: 100%;
		max-width: 100%;
	}
	
	&.ng>.span {
		padding: 0;
	}
	
	&.ng-lr {
		
		&>.span:first-child {
			padding-left: 0;
		}
		
		.span:nth-last-of-type(1) {
			padding-right: 0;
		}
	}
}

/**
 * Sometimes applications need components that are 100% width to make them
 * fit properly (as opposed to having their natural width).
 * 
 * This class allows you to stretch a component to the full width.
**/
.full-width {
	width: 100%;
}


/*
 * Default to making images not bigger than the parent. This is only true if
 * the image happens to be directly embedded in the span. Otherwise we will respect
 * the developer's choices.
 **/
.span>img {
	max-width: 100%;
}


@import '_scaffolding_mobile';

@media all and (max-width: 960px) and (min-width: 480px){
	.desktop-only {
		display: none !important;
	}
	
	.mobile-only {
		display: none;
	}
	
	.not-tablet {
		display: none;
	}
	
	@import '_scaffolding_tablet.scss';
}

@media all and (min-width: 960px) {
	.mobile-only {
		display: none;
	}
	
	.tablet-only {
		display: none;
	}
	
	.not-desktop {
		display: none;
	}
	
	
	@import '_scaffolding_desktop.scss';
}

@media all and (max-width: 480px) {
	.desktop-only {
		display: none !important;
	}
	
	.tablet-only {
		display: none;
	}
	
	.not-mobile {
		display: none;
	}
}