/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 14, 2019, 11:15:57 AM
    Author     : César de la Cal Bretschneider <cesar@magic3w.com>
*/

@use '_contextual' as contextual;
@use 'sidebar/sidebar' as sidebar;

@include contextual.configure(
	$foreground: $grey500,
	$background: $grey100
);

* { 
	@include contextual.styles(); 
}

.small { 
	$height : 3.2rem * .6;
	$radius : .18rem;
	@include contextual.styles($height: $height, $radius: $radius); 
}

@include sidebar.configure();
@include sidebar.styles();

@import 'buttons/_button.scss';
@import '_dialog.scss';
@import '_gallery.scss';
@import '_navbar.scss';
@import 'list/_list.scss';
@import '_navigation.scss';
@import '_message.scss';
@import '_form.scss';
@import '_flow.scss';
@import '_whitespace.scss';
@import 'badges/_badges.scss';
@import 'burger/_burger.scss';
@import 'box/_box.scss';
@import 'caret/_caret.scss';
@import 'images/_images.scss';