
/*
 * This mixin allows the application to set certain variables for
 * our module. These will be considered "static" and will carry over
 * to any part of our site that uses the module.
 */
@mixin configure () 
{
	
}


@mixin styles () 
{
	
	#{if(&, "&", "")}.lh\:0 {
		line-height: 0.9
	}
	
	#{if(&, "&", "")}.lh\:1 {
		line-height: 1.0
	}
	
	#{if(&, "&", "")}.lh\:2 {
		line-height: 1.15
	}
	
	#{if(&, "&", "")}.lh\:3 {
		line-height: 1.4
	}
	
	#{if(&, "&", "")}.lh\:4 {
		line-height: 1.5
	}
	
	#{if(&, "&", "")}.lh\:5 {
		line-height: 1.8
	}
}
